body {background:#FFFFFF; margin:0px; padding:0px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:100.01%; color:#666666;}

/* common styles */
div, td {font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; color:#666666; line-height:120%;}
a {color:#569ADF; text-decoration:underline;}
a:hover {color:#5E6D7F; text-decoration:underline;}
p {margin:5px 0px 15px 0px;}
a img {border:0px;}
ul {list-style-image:url(../images/bullet.gif); padding:0px; margin:10px 0px 10px 25px;}
ul li {margin-bottom:4px;}

h1 {color:#569ADF; font-size:25px; font-weight:normal; font-style:italic; margin:0px 0px 15px 0px; line-height:110%;}
h2 {color:#59697B; font-size:18px; font-weight:normal; font-style:italic; margin:0px 0px 5px 0px; line-height:110%;}
h2 span {color:#569ADF; font-size:13px; margin:0px 0px 0px 3px;}
h2 span a {margin:0px 0px 0px 3px;}
h3 {color:#569ADF; font-size:17px; font-weight:normal; margin:5px 0px 10px 0px; line-height:120%;}
h4 {color:#59697B; font-size:16px; font-weight:normal; font-style:italic; margin:20px 0px 10px 0px; line-height:110%;}
h5 {color:#569ADF; font-size:14px; font-weight:normal; margin:10px 0px 0px 0px; line-height:110%;}
h6 {color:#59697B; font-size:110%; font-style:italic; margin:0px 0px 0px 0px; line-height:110%;}

.pic_left {float:left; margin:3px 10px 3px 0px;}
.pic_right {float:right; margin:3px 0px 3px 10px;}
.clear {clear:both;}
.f_left {float:left;}
.f_right {float:right;}

.small {margin:0px; font-size:11px;}
.spec {color:#59697B; font-weight:bold;}

/* additional text atylea */
.blue_text {color:#569ADF;}

/* structure */
.bg {}
.main {width:980px; margin:0px auto;}

/* top */
.topbar {display:none;}
.topbar_bot {}
.top {padding:10px 0px; height:80px;}
.logo {float:left; width:201px; overflow:hidden;}
.logo img {-padding-left: 201px; -filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/logo.png',sizingMethod=crop);}
.phone {float:right; color:#59697B; font-size:23px; padding:35px 0px 0px 0px;}
.phone span.small {font-size:18px;}


/* menus */
.menu {height:20px; background:#7BB4DD url(../images/bg_menu.jpg) top center no-repeat; margin:0px 0px 20px 0px;}
.menu ul {display:none;}

/* header */
.header {display:none;}

/* left col */
.leftcol {display:none;}

/* content */
.content {padding:0px 0px 25px 0px; font-size:80%;}
.breadcrumbs {display:none;}

.devider {border-bottom:1px solid #E2E5EA; margin:0px 0px 20px 0px; height:10px; clear:both;}
.paging {border-top:1px solid #E2E5EA; margin:10px 0px 0px 0px; padding:20px 0px 5px 0px; text-align:right; clear:both; word-spacing:5px;}

.error_msg {color:#990000; font-size:12px; font-style:italic; margin:0px 0px 0px 10px; padding:0px 0px 0px 10px; border-left:3px solid #990000; line-height:110%;}
.tip {color:#5E6D7F; font-size:12px; font-style:italic; margin:0px 0px 0px 10px; padding:0px 0px 0px 10px; border-left:3px solid #5E6D7F; line-height:110%;}
.reply {background:#F0F2F5; font-style:italic; padding:10px; color:#5E6D7F; margin:0px 0px 0px 10px; border-left:1px dotted #E2E5EB;}

.col {float:left; width:210px; line-height:140%;}
.marg {margin:0px 25px 0px 0px;}

.img {padding:5px; background:#E2E5EB;}


/* promotions */
.promo {padding:20px 0px 20px 0px;}
.promo .col {float:left; width:335px;}
.promo .marg {margin:0px 15px 0px 0px;}
.box_top {background:url(../images/block_top.gif) bottom center no-repeat; height:6px;}
.box {background:#FFFFFF; padding:4px 10px; border-left:1px solid #94C4EA; border-right:1px solid #94C4EA; min-height:170px; *height:170px;}
.box p {margin:5px 0px;}
.box_bot {background:url(../images/block_bot.gif) top center no-repeat; height:6px; margin-bottom:15px;}

/* partners */
.greybox {background:#E9EBEF url(../images/greybox_bg.jpg) top no-repeat; padding:20px 0px 10px 30px;}
.greybox_bot {background:url(../images/greybox_bot.gif) top center no-repeat; height:7px;}
.greybox h3 {font-size:20px; font-style:italic; margin:0px 0px 15px 0px;}
.greybox .col {float:left; color:#59697B; line-height:150%; width:190px;}
.greybox .marg {margin:0px 30px 0px 0px;}

/* tables */
.list_table {} 
.list_table th {background:#7BB4DD; color:#FFFFFF; font-weight:normal; padding:9px 7px;}
.list_table td {border-bottom:1px solid #E2E5EB; padding:7px; font-size:90%;}
.list_table th.subtitle {background:#E2E5EB; color:#666666; font-weight:normal; border-top:1px solid #FFFFFF;}

td.total {border-bottom:2px solid #7BB4DD; border-top:2px solid #7BB4DD; padding:10px 7px; color:#666666; font-size:14px; text-align:right;} 
td.total span {color:#569ADF; font-size:16px;}

tr.no_bord td {border:0px;}
tr.tr_hover {background:#F0F2F5;}

.table_form {}
.table_form td {padding:5px 5px 5px 0px;}

.small_font th {font-size:90%; padding:5px;}
.small_font td {padding:5px;}

/* footer */
.footer {clear:both; background:#2E7EB9 url(../images/bg_footer.jpg) top center no-repeat; padding:25px; min-height:46px; *height:46px; -padding:25px 25px 0px 25px;}
.footer div {color:#FFFFFF; line-height:180%; font-size:80%;}
.footer a {color:#FFFFFF; text-decoration:underline;}
.footer a:hover {color:#FFFFFF; text-decoration:none;}
.footer .f_right {text-align:right;}
.footer .f_right a {margin:0px 0px 0px 10px;}
.sh_bot {background:url(../images/shadow_bot.jpg) top center no-repeat; height:40px;}


/* form */
form {padding:0px; margin:0px;}

.btn_50px {width:50px; height:25px; border:0px; background:url(../images/btn_bg_50px.jpg) no-repeat; color:#FFFFFF; font-size:11px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; cursor:pointer;}
@-moz-document url-prefix(){.btn_50px {padding:0px 0px 3px 0px;}}

.btn_100px {width:100px; height:24px; border:0px; background:url(../images/btn_bg_100px.jpg) no-repeat; color:#FFFFFF; font-size:11px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; cursor:pointer;}

.input {padding:1px 3px; border:1px solid #C1C6D0; color:#333333; font-size:12px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;}




.userbox .input {width:130px; padding:3px 5px; border:1px solid #C1C6D0; color:#333333;  font-size:11px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;}
.userbox .input {*padding:4px 5px 3px 5px;}