body {background:#FFFFFF url(../images/bg.jpg) top repeat-x; margin:0px; padding:0px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:100.01%; color:#666666;}

/* common styles */
div, td {font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; color:#666666; line-height:120%;}
a {color:#569ADF; text-decoration:underline;}
a:hover {color:#5E6D7F; text-decoration:underline;}

a.hotweek {color:#DF5353; text-decoration:underline;}
a.hotweek:hover {color:#DF5353; text-decoration:none;}
a.hotweek:visited {color:#DF5353; text-decoration:underline;}

p {margin:5px 0px 15px 0px;}
a img {border:0px;}
ul {list-style-image:url(../images/bullet.gif); padding:0px; margin:10px 0px 10px 25px;}
ul li {margin-bottom:4px;}

h1 {color:#569ADF; font-size:25px; font-weight:normal; font-style:italic; margin:0px 0px 15px 0px; line-height:110%;}
h2 {color:#59697B; font-size:18px; font-weight:normal; font-style:italic; margin:0px 0px 5px 0px; line-height:110%;}
h2 span {color:#569ADF; font-size:13px; margin:0px 0px 0px 3px;}
h2 span a {margin:0px 0px 0px 3px;}
h3 {color:#569ADF; font-size:17px; font-weight:normal; margin:5px 0px 10px 0px; line-height:120%;}
h4 {color:#59697B; font-size:16px; font-weight:normal; font-style:italic; margin:20px 0px 10px 0px; line-height:110%;}
h5 {color:#569ADF; font-size:14px; font-weight:normal; margin:10px 0px 0px 0px; line-height:110%;}
h6 {color:#59697B; font-size:110%; font-style:italic; margin:0px 0px 0px 0px; line-height:110%;}

.pic_left {float:left; margin:3px 10px 3px 0px;}
.pic_right {float:right; margin:3px 0px 3px 10px;}
.clear {clear:both;}
.f_left {float:left;}
.f_right {float:right;}

.small {margin:0px; font-size:11px;}
.spec {color:#59697B; font-weight:bold;}

/* additional text atylea */
.blue_text {color:#569ADF;}

/* structure */
.bg {background:url(../images/bg_img.jpg) top center no-repeat;}
.main {width:980px; margin:0px auto;}

/* top */
.topbar {background:#F7F7F9; border-right:1px solid #D6D9E0; border-left:1px solid #D6D9E0; padding:5px 25px 1px 45px;}
.topbar_bot {background:url(../images/topbar_bot.gif) top center no-repeat; height:4px;}
.lang {float:left; padding:3px 0px 0px 0px;}
.lang a {display:block; float:left; margin:0px 50px 0px 0px; background:#E2E4E9; text-decoration:none; padding:3px;}
.lang a:hover, .lang a.selected {background:#D2D5DC;}
.bg .top {background:url(../images/shadow_top.png) bottom center no-repeat; padding:20px 40px 0px 40px; height:100px; -background:url(../images/shadow_top.jpg) bottom center no-repeat;}
.logo {float:left; width:201px; overflow:hidden;}
.logo img {-padding-left: 201px; -filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/logo.png',sizingMethod=crop);}
.phone {float:right; color:#59697B; font-size:23px; padding:35px 0px 0px 0px;}
.phone span.small {font-size:18px;}

/* login & basket */
.userbox {float:right; font-size:12px;}
.userbox h6 {display:inline; font-size:14px; color:#59697B; font-weight:normal; font-style:normal; padding:0px 15px 0px 0px;}

/* menus */
.menu {background:url(../images/bg_menu.jpg) center no-repeat; height:50px; padding:0px 0px 0px 10px;}
ul.submenu {padding:0px 0px 0px 15px; margin:0px 0px 20px 0px; list-style-type:none; list-style-image:none;}
ul.sub_level2 {padding:7px 0px 3px 0px; margin:0px 0px 0px 30px; list-style-image:url(../images/submenu_item.gif);}
ul.submenu a.selected {color:#5E6D7F; text-decoration:underline;}

/* header */
.header {clear:both; margin-bottom:5px;}

/* left col */
.leftcol {float:left; width:260px; padding:0px 0px 25px 0px; font-size:80%;}
.leftcol h2, .leftcol h5, .leftcol p {padding:0px 15px;}
a.btn_terms {display:block; background:url(../images/terms.jpg) no-repeat; width:168px; height:56px; padding:12px 0px 0px 92px; margin-bottom:20px; color:#59697B; text-decoration:none; font-style:italic; font-size:20px; line-height:100%;}
a.btn_terms:hover {background:url(../images/terms_hover.jpg) no-repeat; color:#59697B; text-decoration:none;}
a.btn_blue {display:block; background:url(../images/bluebox.jpg) no-repeat; width:230px; height:55px; padding:13px 15px 0px 15px; color:#FFFFFF; text-decoration:underline; font-weight:bold; font-size:15px; margin:0px 0px 10px 0px; line-height:120%;}
a.btn_blue:hover {background:url(../images/bluebox_hover.jpg) no-repeat; color:#FFFFFF; text-decoration:underline;}
.news {font-size:90%;}
.news h5 a {text-decoration:none;}

/* content */
.contentmain {float:right; width:690px; padding:0px 0px 25px 0px; font-size:80%;}
.forprice {float:right; width:950px;}
.contentmainb {float:right; width:690px; padding:0px 0px 0px 0px; font-size:80%;}
.contentmaine {float:right; width:950px; padding:0px 0px 0px 0px; font-size:80%;}
.breadcrumbs {padding:10px 0px 15px 0px; margin-bottom:15px; background:url(../images/dash.gif) bottom repeat-x;}
.breadcrumbs a {margin:0px 5px;}
.devider {border-bottom:1px solid #E2E5EA; margin:0px 0px 20px 0px; height:10px; clear:both;}
.paging {border-top:1px solid #E2E5EA; margin:10px 0px 0px 0px; padding:20px 0px 5px 0px; text-align:right; clear:both; word-spacing:5px;}

.error_msg {color:#990000; font-size:12px; font-style:italic; margin:0px 0px 0px 10px; padding:0px 0px 0px 10px; border-left:3px solid #990000; line-height:110%;}
.tip {color:#5E6D7F; font-size:12px; font-style:italic; margin:0px 0px 0px 10px; padding:0px 0px 0px 10px; border-left:3px solid #5E6D7F; line-height:110%;}
.reply {background:#F0F2F5; font-style:italic; padding:10px; color:#5E6D7F; margin:0px 0px 0px 10px; border-left:1px dotted #E2E5EB;}

.col {float:left; width:200px; line-height:140%;}
.marg {margin:0px 25px 0px 0px;}

.img {padding:5px; background:#E2E5EB;}


/* promotions */
.promo {padding:20px 0px 20px 0px;}
.promo .col {float:left; width:335px;}
.promo .marg {margin:0px 15px 0px 0px;}
.box_top {background:url(../images/block_top.gif) bottom center no-repeat; height:6px;}
.box {background:#FFFFFF; padding:4px 10px; border-left:1px solid #94C4EA; border-right:1px solid #94C4EA; min-height:170px; *height:170px;}
.box p {margin:5px 0px;}
.box_bot {background:url(../images/block_bot.gif) top center no-repeat; height:6px; margin-bottom:15px;}

/* partners */
.greybox {background:#E9EBEF url(../images/greybox_bg.jpg) top no-repeat; padding:20px 0px 10px 30px;}
.greybox_bot {background:url(../images/greybox_bot.gif) top center no-repeat; height:7px;}
.greybox h3 {font-size:20px; font-style:italic; margin:0px 0px 15px 0px;}
.greybox .col {float:left; color:#59697B; line-height:150%; width:190px;}
.greybox .marg {margin:0px 30px 0px 0px;}

/* tables */
.list_table {} 
.list_table th {background:#7BB4DD; color:#FFFFFF; font-weight:normal; padding:9px 7px;}
.list_table td {border-bottom:1px solid #E2E5EB; padding:2px; font-size:90%;}
.list_table th.subtitle {background:#E2E5EB; color:#666666; font-weight:normal; border-top:1px solid #FFFFFF;}
.list_table th.subtitle1 {background: #DF5353; color:#dddddd; font-weight:bold; border-top:1px solid #dddddd;}

th {background:#7BB4DD; color:#FFFFFF; font-weight:normal; padding:9px 7px;}

.pricelistTableTitle, .pricelistTableTitleLeft {background:#7BB4DD; color:#FFFFFF; font-weight:normal; padding:9px 7px;}

td.total {border-bottom:2px solid #7BB4DD; border-top:2px solid #7BB4DD; padding:10px 7px; color:#666666; font-size:14px; text-align:right;} 
td.total span {color:#569ADF; font-size:16px;}

tr.no_bord td {border:0px;}
tr.tr_hover {background:#F0F2F5;}

.table_form {}
.table_form td {padding:5px 5px 5px 0px;}

.small_font th {font-size:90%; padding:5px;}
.small_font td {padding:5px;}

/* footer */
.footer {clear:both; background:#2E7EB9 url(../images/bg_footer.jpg) top center no-repeat; padding:25px; min-height:46px; *height:46px; -padding:25px 25px 0px 25px;}
.footer div {color:#FFFFFF; line-height:180%; font-size:80%;}
.footer a {color:#FFFFFF; text-decoration:underline;}
.footer a:hover {color:#FFFFFF; text-decoration:none;}
.footer .f_right {text-align:right;}
.footer .f_right a {margin:0px 0px 0px 10px;}
.sh_bot {background:url(../images/shadow_bot.jpg) top center no-repeat; height:40px;}


/* form */
form {padding:0px; margin:0px;}

.btn_50px {width:50px; height:25px; border:0px; background:url(../images/btn_bg_50px.jpg) no-repeat; color:#FFFFFF; font-size:11px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; cursor:pointer;}
@-moz-document url-prefix(){.btn_50px {padding:0px 0px 3px 0px;}}

.btn_100px {width:100px; height:24px; border:0px; background:url(../images/btn_bg_100px.jpg) no-repeat; color:#FFFFFF; font-size:11px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; cursor:pointer;}

.input {padding:1px 3px; border:1px solid #C1C6D0; color:#333333; font-size:12px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;}




.userbox .input {width:130px; padding:3px 5px; border:1px solid #C1C6D0; color:#333333;  font-size:11px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;}
.userbox .input {*padding:4px 5px 3px 5px;}

.a_ {margin-bottom:0px; margin-left:2px;  border:0px; background: url('http://www.shaklin.ru/new/images/btn_go.gif') no-repeat; width:22px; height:20px;position:relative; top:4px;}
.a_1 {margin-bottom:-4px; margin-left:2px;  border:0px; background: url('btn_go_red.gif') no-repeat; width:22px;height:20px; }
.a_2 {margin-bottom:0px; margin-left:-1px;  border:0px; background: url('btn_go_red.gif') no-repeat; width:22px;height:20px; }

.cartTitle  {color:#569ADF; font-size:17px; font-weight:normal; margin:5px 0px 10px 0px; line-height:120%;}

.over_ {
  cursor: pointer;
}
.out_ {
  cursor: pointer;
}

#wrapper{
    width: 600px;
    height: 400px;
    border: 15px solid gray;
    padding: 20px;
    margin: 60px auto;
    -webkit-box-shadow:0 3px 5px #999;
	-moz-box-shadow:0 3px 5px #999;
	box-shadow:0 3px 5px #999;
    background: white;
    font-size: 14px;
    font-family: Verdana;
}

.wrapper_hint{
    position: relative;
    display: inline;
}

.hint, .arrow_hint{
    border: 2px solid silver;
    background: #F7F7F7;    
}

.hint{
    position: absolute;
    z-index: 1000;
    padding: 10px;
    padding-bottom: 15px;
    border-radius:15px;
    display: block;
    min-width: 70px;
    white-space: nowrap;
    display: none;
}

.arrow_hint{
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 50%;
    bottom: -12px;
    margin-left: -8px;
    -webkit-transform: rotate(45deg);
    -moz-transform:    rotate(45deg);
    -ms-transform:     rotate(45deg);
    -o-transform:      rotate(45deg);
}

.arrow_hint:after{
    content: "";
    position: absolute;
    background: #F7F7F7;
    width: 19px;
    height: 19px;
    top: -3px;
    left: -3px;
  
}
.motivation-inactive-chapter{
    margin-left: 20px;
    color: black;
    text-decoration: none;
}
.motivation-active-chapter{
    text-decoration: none;
}
.motivation-rules-text{
    margin-bottom: 20px;
    color: black;
}
.motivation-form-header{
    color: black;
}
.motivation-form-required{
    color: red;
}
.motivation-form-input{
    width: 50%;
    background-color: white;
    border-radius: 6px;
    border: 0px;
    height: 42px;
}
.motivation-wrapper{
    margin-left: 10px;
    
}
.motivation-form-input-button{
    width: 85%;
    background-color: white;
    border-radius: 6px;
    border: 0px;
    height: 42px;
    float: left;
    
    
}
.motivation-form-input-button-add{
    width: 10%;
    color: white;
    border-radius: 6px;
    height: 42px;
    float: right;
    font-size: 26px;
    line-height: 42px;
    text-align: center;
    cursor: pointer;
}
.motivation-form-input-wrapper{
    padding: 0px 0px 0px 10px;
    background-color: white; 
    width: 50%;
    height: 42px;
    border-radius: 6px;
}
.red{
    color: #cc0000;
}
.dark-red{
    background: #990000;
}
.dark-red-text{
    color: #990000;
    font-weight: bolder;
}
.chapter{
    font-weight: bolder;
    padding-right: 15px;
    color: #333333;
    text-decoration: none;
    cursor: pointer;
    font-size: 12px;
}
.chapter:hover{
    text-decoration: none;
}
.active-chapter{
    color: #990000;
}
.input-text{
    padding: 0px 0px 0px 10px;
    font-size: 15px;
}
.checkbox{
    width: 23px;
    height: 23px;
    display: inline-block;
    background: white;
    text-align: center;
    vertical-align: bottom;
    line-height: 23px;
    font-size: 25px;
    color: #990000;
    border-radius: 5px;
    cursor: default;
    position: relative;
}
.unchecked span{
    display: none;
}
.motivation-form-input-button-submit{
    color: white;
    border-radius: 6px;
    border: 0px;
    height: 42px;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px 37px;
}
.dis-selection{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    border: 1px solid #990000;
    border-radius: 4px;
}
.bolder{
    font-weight: bolder;
}
.label{
    padding-bottom: 10px;
}
.motiv-select{
    border: 0px;
    font-size: 20px;
    background: url('../images/red_arrow.png') no-repeat white;
    background-position: right;
    border-radius: 5px;
    height: 43px;
    padding: 0px 20px;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.motiv-select:focus{
    outline: none;
}
.row{
    margin-bottom: 10px;
}
.motivation-th{
    background-color: white !important;
    color: black;
    width: 150px;
}
.motivation-left-column{
    text-align: left !important;
    width: 270px !important;
}

.motivation-cells{
    border-width: 0px;
    background-color: white;
    border-color: gainsboro;
}
.active-button{
    display: inline-block;
    background-color: white;
    color: #990000;
    height: 23px;
    padding: 14px 5px 5px;
    border-radius: 5px;
    border: 1px solid #990000;
}
.motivation-count-digit{
    background-color: #990000;
    color: white;
    font-size: 28px;
    float: left;
    display: inline-block;
    border-radius: 5px;
    padding: 8px 9px;
    margin-left: 2px;
    margin-right: 2px;
}
.motivation-counter{
    display: inline-block;
}
.with-count span{
    line-height: 43px;
}
.mot-top-menu{
    margin-top: 10px;
}
.motivation-wrapper p{
    margin: 0px 0px 15px 0px;
}
.count-digit-cont{
    display: inline-block;
    vertical-align: middle;
    padding: 0px 5px;
}
.btn{
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 42px;
    text-decoration: none;
}
.btn:hover{
    cursor: pointer;
    text-decoration: none;
    color: white;
}
table.row td {
    padding: 7px 15px;
}
#motivation-a{
    background: #990000;
    color: white;
}
.col-mod-6{
    float: left;
    display: inline-block;
    width: 50%;
}
.pravila-text{
    padding-right: 10px;
}
.pravila-text p{
    margin: 0px 0px 5px 0px;
}
.pravila-text td{
    text-align: center;
}