body
{  
  color: #000000;
  font-family: Verdana, Arial, Helvetica, Geneva;
  font-size: 11px;
  background-color: #ffffff;
  background-repeat: repeat-x;
  margin: 0px;
}

td
{
  font-family: Verdana, Arial, Helvetica, Geneva;
  font-size: 11px;
}

table.rubr
{
  background-color: #8796c1;
  padding: 0px;
  height: 20px;
  border: 1px solid #808080;
}
td.rubr
{
  border-top: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  background-image: url("../../images/admin/rubr.gif");
  background-position: right;
  background-repeat: repeat-y;
}

td.head_left
{
  background-color: #8796c1;
  border-bottom: 1px solid #ffffff;
  background-image: url("../../images/admin/left.jpg");
  background-position: left;
  background-repeat: no-repeat;
  width: 280px;
  height: 40px;
  text-align: left;
  padding-left: 10px;
  color: #ffffff;
  font-weight: bold;
  font-size: 12px;
}
td.head_center
{
  background-color: #8796c1;
  border-bottom: 1px solid #ffffff;
  text-align: center;
  color: #1b4e87;
  font-weight: bold;
  font-size: 12px;
}
td.head_right
{
  background-color: #8796c1;
  border-bottom: 1px solid #ffffff;
  background-image: url("../../images/admin/right.jpg");
  background-position: right;
  background-repeat: no-repeat;
  width: 370px;
  height: 40px;
  text-align: right;
  padding-right: 10px;
  color: #1b4e87;
  font-weight: bold;
  font-size: 12px;
}
td.subhead
{
  background-color: #cfcfcf;
  border-top: 1px solid #000000;
  height: 20px;
  text-align: right;
  padding-right: 10px;
}
td.menu
{
  border-right: 1px dotted #cfcfcf;
  padding-top: 10px;
  padding-left: 10px;
  width: 150px;
  vertical-align: top;
}
tr.thead
{
  background-color: #8796c1;
  text-align: center;
  font-weight: bold;
}

.theadtext
{
  color: #8796c1;
  font-weight: bold;
}

tr.teven
{
  background-color: #dddddd;
}
tr.todd
{
  background-color: #ffffff;
}
tr.tform
{
  background-color: #F0F0F0;
}
td.wrong
{
  color: #990000;
  background-color: #FFC5C5;
  border-left: 1px solid #ffffff;
  text-align: center;
  font-weight: bold;
}
td.correct
{
  color: #009900;
  background-color: #C5FFC5;
  border-left: 1px solid #ffffff;
  text-align: center;
  font-weight: bold;
}
td.wrong_list
{
  color: #990000;
  background-color: #FFC5C5;
  text-align: center;
  font-weight: bold;
}
td.correct_list
{
  color: #009900;
  background-color: #C5FFC5;
  text-align: center;
  font-weight: bold;
}

td.tsubhead
{
  background-color: #cfcfcf;
/*  border-top: 1px solid #000000;*/
  height: 20px;
  text-align: left;
  padding-right: 10px;
}

td.tform
{
  border-left: 1px solid #ffffff;
  padding-left: 5px;
}

.inp
{
  font-family: Verdana, Arial, Helvetica, Geneva;
  font-size: 11px;
  background-color: #f1f2f7;
}

.inp250
{
  font-family: Verdana, Arial, Helvetica, Geneva;
  font-size: 11px;
  background-color: #f1f2f7;
  width: 250px;
}

.required
{
  font-family: Verdana, Arial, Helvetica, Geneva;
  font-size: 11px;
  color: #0000cc;
}

.btn_sml {
  font-family: Tahoma;
  font-size: 11px;
  background-color: #eeeeee;
  background-image: url("../../images/admin/btn_sml.gif");
  border: none;
  width: 50px;
  height: 20px;
}
.btn_mid {
  font-family: Tahoma;
  font-size: 11px;
  background-color: #eeeeee;
  background-image: url("../../images/admin/btn_mid.gif");
  border: none;
  width: 100px;
  height: 20px;
}
.btn_big {
	height: 23;
	width: 170;
	background: url("../../images/knappbak.gif");
	border-color: #5A6CA2;
	border-top-color: #8596CA;
	border-top-width: 1;
	border-left-color: #8596CA;
	border-left-width: 1;
	border-bottom-color: #5A6CA2;
	border-bottom-width: 1;
	border-right-color: #5A6CA2;
	border-top-width: 1;
	font-family: Tahoma;
	text-align : center;
}

a:link
{
  color: #000000;
}
a:visited
{
  color: #000000;
}
a:active
{
  color: #0000cc;
}
a:hover
{
  color: #cc0000;
}

.not_translated
{
  font-family: Verdana, Arial, Helvetica, Geneva;
  font-size: 11px;
  color: #990000;
}

.wrong_field
{
  color: #990000;
  background-color: #FFC5C5;
  font-weight: bold;
}

.tip
{
/*	border-left: 1px;*/
	margin:5px;
	background-color:#F2F3F1;
}
.actContainer
{
	position:absolute; 
	display:none; 
	z-index:100; 
	border: 1px solid #808080; 
	background-color:#F2F3F1;
}

td.pic { width: 158px; height: 150px; vertical-align: middle; text-align: center; background-color: #ffffff; border: 1px solid #333333; } 
td.pic2 { width: 158px; height: 150px; vertical-align: middle; text-align: center; background-color: #efefef; border: 1px solid #333333; } 