      </td>
    </tr>
  </table>

      </td>
    </tr>
  </table>
<script language="javascript1.2" src="../js/admin/validation.js"></script>
<iframe name="gToday:cal_normal:cal_agenda.js" id="gToday:cal_normal:cal_agenda.js" src="/css/popcjs.htm" scrolling="no" frameborder="2" style="border:solid 2px;border-color: #D3D3D3; visibility:hidden;position:absolute;z-index:65535;top:0;"></iframe>
<SCRIPT event=onclick() for=document>//gfPop.fPopCalendar(this);</SCRIPT>
</body>
</html>