            <table width="100%" border="0" cellpadding="0" cellspacing="10">
              <tr>
                <td valign="top" height="20" colspan="2">
                  <table class="rubr" cellspacing="0" width="100%" align="center">
                    <tr>
                      <td class="rubr">&nbsp;<img src="<TMPL_VAR NAME="ImagesDir">h_list.gif" width="15" height="15" align="absmiddle">&nbsp;Картинки</td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td valign="top" height="20" colspan="2">
                  <TMPL_INCLUDE FILE='../includes/images_.php'>
                </td>
              </tr>
            </table>
