            <table width="100%" border="0" cellpadding="0" cellspacing="10">
              <tr>
                <td valign="top" height="20" colspan="2">

                  <TMPL_IF NAME='error'>
                    <p class="wrong"><TMPL_VAR NAME='error'></p>
                  </TMPL_IF>
                  <h3><TMPL_VAR NAME='PageName'></h3>
                  <TMPL_VAR NAME='PageContent' ESCAPE='none'>

                </td>
              </tr>
            </table>