            <table class="SideBlockLeft" cellpadding="0" cellspacing="0">
                <tr>
                    <td class="blockTitleLeft" " align="right"></td>
                </tr>
                <tr>
                    <td valign="top">
                        <table width="100%" border="0" cellspacing="0" cellpadding="2">

                            <tr>
                                <td class="blockText" align="right"><a href="/textile/" target="_top"> </a></td>
                            </tr>

                            <tr>
                                <td class="blockText" align="right"><a href="http://www.egoza54.ru/" target="_top">  </a></td>
                            </tr>

                            <tr>
                                <td align="right"></td>
                            </tr>

                        </table>
                    </td>
                </tr>
            </table>