<TMPL_VAR NAME="CoflexID">	<TMPL_VAR NAME="UserCompany">	<TMPL_VAR NAME="CompanyCoflexID">	<TMPL_VAR NAME="CompanyName">	<TMPL_VAR NAME="AddressCoflexID">	<TMPL_VAR NAME="Address">	<TMPL_VAR name='AdminCoflexID'>	<TMPL_VAR name='AdminName'>	<TMPL_VAR name='OrderDateCreated'>

<TMPL_VAR NAME="Comment">

<TMPL_LOOP NAME='cartlist'>
<TMPL_VAR NAME='HistPriceID'>	<TMPL_VAR NAME='priceDesc'>	<TMPL_VAR NAME="HistPriceOne">	<TMPL_VAR NAME="HistValue">

</TMPL_LOOP>
