            <table valign="top" cellpadding="0" cellspacing="0">
                <tr>
                    <td><img src="theme/img/vacancy.gif" width="153" height="32" border="0"></td>
                </tr>
                <tr>
                    <td valign="top">
                        <table width="100%" border="0" cellspacing="0" cellpadding="4">
                        <TMPL_LOOP name="vacancylistright">
                            <tr>
                                <td class="blockText"><span class=newsSmall><a href="/index.php?cmd=vacancy#<TMPL_VAR name='vacID'>" target="_top"><TMPL_VAR name="vacHeader"></a></span></td>
                            </tr>
                        </TMPL_LOOP>
                        </table>
                    </td>
                </tr>
            </table>