
                           <TMPL_LOOP NAME='newslistright'> 

            <h5><a href="/index.php?cmd=allnews#<TMPL_VAR NAME='NewsID'>"><TMPL_VAR NAME='NewsDate1'></a></h5>
            <p><TMPL_VAR NAME='NewsHeader'><br /><TMPL_VAR NAME='Preview'><a href="/index.php?cmd=allnews#<TMPL_VAR NAME='NewsID'>" target="_top">&laquo;...&raquo;</a></p>

                          </TMPL_LOOP>





