
		<TMPL_IF NAME="pages">
		<TMPL_LOOP NAME="pages">
		<TMPL_IF NAME="more">
		&#133;
		<TMPL_ELSEIF NAME="current">
		<b><TMPL_VAR NAME="page"></b>
		<TMPL_ELSE>
		<a href="<TMPL_VAR NAME='URL'>&page=<TMPL_VAR NAME="page">"><TMPL_VAR NAME="page"></a>
		</TMPL_IF>
		</TMPL_LOOP>
		</TMPL_IF>
