<h1>&#12298;&#27801;&#31185;&#39046;&#12299;&#20844;&#21496;&#33258;1992&#24180;&#22312;&#21830;&#21697;&#25512;&#38144;&#24066;&#22330;&#19978;&#19981;&#26029;&#22320;&#36319;&#21307;&#30103;&#26426;&#26500;&#36827;&#34892;&#21512;&#20316;&#20851;&#31995;&#12290; </h1>

<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="content">&#26412;&#20844;&#21496;&#22312;&#20110;&#20420;&#32599;&#26031;&#29289;&#27969;&#20013;&#24515;&#20043;&#19968;&#30340;&#26032;&#35199;&#20271;&#21033;&#20122;&#24066;&#12290; <br /><br />&#20174;&#20044;&#25289;&#23572;&#21040;&#36828;&#19996;&#37117;&#26377;&#12298;&#27801;&#31185;&#39046;&#12299;&#30340;&#20998;&#20844;&#21496;&#21644;&#20195;&#21150;&#22788;&#12290; <br />&#12298;&#27801;&#31185;&#39046;&#12299;&#20844;&#21496;&#26159;&#20420;&#32599;&#26031;&#21508;&#21307;&#30103;&#26426;&#26500;&#30340;&#20027;&#35201;&#20379;&#24212;&#32773;&#65292;&#22914;&#65306;&#32508;&#21512;&#24615;&#38376;&#35786;&#37096;&#12289;&#21307;&#38498;&#12289;&#31169;&#33829;&#30340;&#21307;&#38498;&#12289;&#35199;&#21307;&#20013;&#24515;&#31561;&#12290; <br /><br />&#20174;&#20044;&#25289;&#23572;&#21040;&#36828;&#19996;&#12298;&#27801;&#31185;&#39046;&#12299;&#20844;&#21496;&#36890;&#36807;&#32463;&#38144;&#21830;&#38144;&#21806;&#20135;&#21697;&#12290; <br /><br />&#26412;&#20844;&#21496;&#26377;8000&#31181;&#20135;&#21697;&#65292;&#20135;&#21697;&#21517;&#21333;&#22914;&#19979;&#65306; </p>
<ul>
	<li>&#28040;&#27602;&#21058;&#65307;&#21253;&#25324;&#20057;&#37255;&#22522;&#30784;&#12290;&#12298;&#27801;&#31185;&#39046;&#12299;&#20844;&#21496;&#25317;&#26377;&#20420;&#32599;&#26031;&#32852;&#37030;&#30340;&#35768;&#21487;&#35777;&#65292;&#25353;&#29031;&#27492;&#35768;&#21487;&#35777;&#37319;&#36141;&#12289;&#23384;&#25918;&#19982;&#38144;&#21806;&#28040;&#27602;&#21058;&#12290; </li>

	<li>&#28040;&#32791;&#21697;&#65306; </li>
	<li>&#27880;&#23556;&#22120; </li>
	<li>&#32503;&#25166;&#26448;&#26009; &#65288;&#32433;&#24067;&#32503;&#24102;&#12289;&#32503;&#24102;&#65289; </li>
	<li>&#25163;&#22871; </li>

	<li>&#20262;&#29748;&#23556;&#32447;&#33014;&#21367;&#65288;X&#20809;&#33014;&#29255;&#65289; </li>
	<li>&#19968;&#27425;&#24615;&#30340;&#26381;&#35013; </li>
	<li>&#32541;&#32447;&#26448;&#26009; </li>
	<li>&#20854;&#20182; </li>

	<li>&#21307;&#30103;&#35774;&#22791; </li>
	<li>&#21475;&#33108;&#28040;&#32791;&#21697;&#19982;&#35774;&#22791; </li>
</ul>
<p><br />&#12298;&#27801;&#31185;&#39046;&#12299;&#20844;&#21496;&#25317;&#26377;&#21046;&#33647;&#22269;&#23478;&#35768;&#21487;&#35777;99-02-013194&#12290; <br /><br />&#25105;&#20204;&#20844;&#21496;&#36890;&#36807;&#25307;&#26631;&#21644;&#33258;&#30001;&#20986;&#38144;&#65292;&#26356;&#26032;&#21644;&#22686;&#22810;&#20135;&#21697;&#31181;&#31867;&#12290; <br />&#12298;&#27801;&#31185;&#39046;&#12299;&#20844;&#21496;&#26377;&#22269;&#20869;&#22806;&#30452;&#25509;&#31614;&#32422;&#12290; <br />&#25105;&#20204;&#27426;&#36814;&#36992;&#35831;&#22269;&#20869;&#22806;&#21512;&#20316;&#32773;&#12290; <br /><br />&#32852;&#31995;&#25105;&#20204; <br /><br /><u>&#12298;&#27801;&#31185;&#39046;&#12299;&#20844;&#21496;</u> <br /><em>&#22320;&#22336;&#65306;Demakova, 30, post office box 393, Novosibirsk, Russia, 630128 <br />&#30005;&#35805;: +7(383)336-01-23, +7(383)335-61-23 <br />&#32593;&#31449;: http://www.shaklin.ru</em> <br /><br />&#25509;&#36135;&#37096;&#38376;&#36127;&#36131;&#20154;&#65306;&#20202;&#27931;&#23068; &#22612;&#25289;&#29595;&#25289; <a href="mailto:ilina@shaklin.ru">ilona@shaklin.ru</a> <br />&#38144;&#21806;&#37096;&#38376;&#36127;&#36131;&#20154;&#65306;&#22612;&#23612;&#20122;&#25735;&#29305;&#27931;&#29926; <a href="mailto:petrova@shaklin.ru">petrova@shaklin.ru</a> <br /></p></td>

	</tr>
</table>




   
