            <h1><TMPL_VAR NAME='pageName'></h1>
           <br>
            <table width="99%" border="0" cellpadding="0">
           <TMPL_LOOP NAME='faqlist'>
              <tr>
                  <td class="newsBody" ><a href="#<TMPL_VAR NAME='faqID'>"><TMPL_VAR NAME='Preview'></a></td>
              </tr>
           </TMPL_LOOP>   
            </table>
           <p>&nbsp;</p>
           <TMPL_LOOP NAME='faqlist'>
            <a name="<TMPL_VAR NAME='faqID'>">
            <table width="99%" border="0" cellpadding="2">
              <!-- tr>
                  <td class="newsBody"><b><TMPL_VAR NAME='faqDate'> <TMPL_VAR NAME='faqUser'></td>
              </tr -->
              <tr>
                <td class="newsBody" valign="top">
                  <i><TMPL_VAR NAME='faqQuest' ESCAPE="none"></i>
                </td>
              </tr>

              <tr>
                <td class="newsBody" valign="top">
                  <TMPL_VAR NAME='faqAnswer' ESCAPE="none">
                </td>
              </tr>

              <tr>
                <td style="border-top-style: none; border-top-width: medium; border-bottom-style: none; border-bottom-width: medium">
                <hr class="grayline">
                  </td>
              </tr>
            </table>

           </TMPL_LOOP>
