        <h1><TMPL_VAR NAME='pageName'></strong></h1>

           <div class="col marg">
  
           <TMPL_LOOP NAME='metodlist'>
              <TMPL_IF NAME='letters'>
              </p>
              <h6><TMPL_VAR NAME='letters'></h6>
              <p>
              </TMPL_IF>
              <TMPL_IF NAME='third'>
              </p>
              </div>
              <div class="col marg">
              <p>
              </TMPL_IF>
               <a target="_blank" href="<TMPL_VAR NAME='httpdocs'><TMPL_VAR NAME='metDoc'>"><TMPL_VAR NAME='metName'></a><br />
           </TMPL_LOOP>
           </p>
           </div>


