<TMPL_IF NAME='error'>
  <p class="wrong"><TMPL_VAR NAME='error'></p>
</TMPL_IF>
<h3><TMPL_VAR NAME='PageName'></h3>
<TMPL_VAR NAME='PageContent' ESCAPE='none'>


<p align="right" valign="top"><TMPL_INCLUDE FILE='_u_paging.html'></p>
<table width="100%" border="0" align="center" cellpadding="5" cellspacing="0">
<TMPL_LOOP NAME='newslist'>
<tr>
<td valign="top">
    <a href="view_news<TMPL_VAR NAME='NewsID'>_<TMPL_VAR NAME='PageID'>_<TMPL_VAR NAME='CurrentPage'>.html"><strong><TMPL_VAR NAME='NewsHeader'></strong></a>
    <p><TMPL_VAR NAME='Preview'></p>
    <p><div class="more_b"><a href="view_news<TMPL_VAR NAME='NewsID'>_<TMPL_VAR NAME='PageID'>_<TMPL_VAR NAME='CurrentPage'>.html" class="wlink"><strong><TMPL_VAR NAME='LANG_MoreInfo'></strong></a></div></p>
  </td>
</tr>
<tr><td colspan="2">&nbsp;</td></tr>
</TMPL_LOOP>
</table>
