<h3><TMPL_VAR NAME='PageName'></h3>
<TMPL_IF NAME='error'>
  <p class="wrong"><TMPL_VAR NAME='error'></p>
</TMPL_IF>
<TMPL_VAR NAME='PageContent' ESCAPE='none'>

<br/><br/>
<form name="request_docs" action="request_broshure.php" method="post">
<table width="75%" border="0" align="left" cellpadding="5" cellspacing="2">

<tr>
  <td><b><TMPL_VAR NAME='LANG_NameB'> *</b></td>
  <td><input type="text" name="Name" value="<TMPL_VAR NAME='Name'>" class="inpa_new" style="width: 200px;"></td>
</tr>
<tr>
  <td><b><TMPL_VAR NAME='LANG_CityB'> *</b></td>
  <td><input type="text" name="City" value="<TMPL_VAR NAME='City'>" class="inpa_new" style="width: 200px;"></td>
</tr>
<tr>
  <td><b><TMPL_VAR NAME='LANG_AddressB'> *</b></td>
  <td><input type="text" name="Address" value="<TMPL_VAR NAME='Address'>" class="inpa_new" style="width: 200px;"></td>
</tr>
<tr>
  <td><b><TMPL_VAR NAME='LANG_PostCodeB'></b></td>
  <td><input type="text" name="PostCode" value="<TMPL_VAR NAME='PostCode'>" class="inpa_new" style="width: 200px;"></td>
</tr>
<tr>
  <td><b><TMPL_VAR NAME='LANG_CountryB'> *</b></td>
  <td><select name='CountryID' class="inpa_new" style="width: 200px">
    <option value="">--<TMPL_VAR NAME='LANG_SelectCountryB'>--</option>
    <TMPL_LOOP NAME='countries'>
    <option value="<TMPL_VAR NAME='CountryID'>" <TMPL_IF NAME='selected'>selected</TMPL_IF>><TMPL_VAR NAME='CountryName'></option>
    </TMPL_LOOP>
    </select>
  </td>
</tr>
<tr>
  <td><b><TMPL_VAR NAME='LANG_PhoneB'></b></td>
  <td><input type="text" name="Phone" value="<TMPL_VAR NAME='Phone'>" class="inpa_new" style="width: 200px;"></td>
</tr>
<tr>
  <td><b><TMPL_VAR NAME='LANG_EmailB'> *</b></td>
  <td><input type="text" name="Email" value="<TMPL_VAR NAME='Email'>" class="inpa_new" style="width: 200px;"></td>
</tr>

<tr>
  <td><b><TMPL_VAR NAME='LANG_SendByEmailB'>: </b></td>
  <td><input type="checkbox" value="Yes" name="SendByEmail"<TMPL_IF NAME='SendByEmail'> checked</TMPL_IF>></td>
</tr>

<tr>
  <td><b><TMPL_VAR NAME='LANG_SendByPostB'>: </b></td>
  <td><input type="checkbox" value="Yes" name="SendByPost"<TMPL_IF NAME='SendByPost'> checked</TMPL_IF>></td>
</tr>

<tr><td></td>
  <td align="center"><input class="inpa_new" type="submit" name="req_broshure" value="<TMPL_VAR NAME='LANG_RequestBroshureB'>"></td>
</tr>
</table>
<input type="hidden" name="request_broshure" value="1">
<input type="hidden" name="PageName" value="<TMPL_VAR NAME='PageName'>">
</form>
