<table width="100%"  border="0" cellspacing="0" cellpadding="3">
  <tr>
    <td><b><TMPL_VAR NAME='LANG_NameB'>: </b></td>
    <td><TMPL_VAR NAME='Name'></td>
  </tr>
  <tr>
    <td><b><TMPL_VAR NAME='LANG_AddressB'>: </b></td>
    <td><TMPL_VAR NAME='Address'></td>
  </tr>
  <tr>
    <td><b><TMPL_VAR NAME='LANG_PostCodeB'>: </b></td>
    <td><TMPL_VAR NAME='PostCode'></td>
  </tr>
  <tr>
    <td width="20%"><b><TMPL_VAR NAME='LANG_CityB'>: </b></td>
    <td width="80%"><TMPL_VAR NAME='City'></td>
  </tr>
  <tr>
    <td><b><TMPL_VAR NAME='LANG_CountryB'>: </b></td>
    <td><TMPL_VAR NAME='Country'></td>
  </tr>

  <tr>
    <td><b><TMPL_VAR NAME='LANG_PhoneB'>: </b></td>
    <td><TMPL_VAR NAME='Phone'></td>
  </tr>
  <tr>
    <td><b><TMPL_VAR NAME='LANG_EmailB'>: </b></td>
    <td><TMPL_VAR NAME='Email'></td>
  </tr>
  <tr>
    <td><b><TMPL_VAR NAME='LANG_SendByEmailB'>: </b></td>
    <td><TMPL_VAR NAME='SendByEmail'></td>
  </tr>
  <tr>
    <td><b><TMPL_VAR NAME='LANG_SendByPostB'>: </b></td>
    <td><TMPL_VAR NAME='SendByPost'></td>
  </tr>
</table>
