<h1>
<TMPL_IF NAME='isAdmin'>
    <a href="/admin/static_edit.php?NewsID=<TMPL_VAR NAME='statID'>" ><img src="/images/admin/i_edit.gif" width="13" height="15" border="0"></a>
</TMPL_IF>
    <TMPL_VAR NAME='statName'></h1>
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="content"><TMPL_VAR NAME='statContent' ESCAPE='none'></td>
	</tr>
</table>