            <form action="" method="post" name="user_edit">
            <table width="100%" border="0" cellpadding="0" cellspacing="10">
              <tr>
                <td valign="top">
                  <table class="rubr" width="100%" border="0" cellspacing="0" cellpadding="2">
                    <tr>
                      <td class="rubr" colspan="2">&nbsp;<img src="<TMPL_VAR NAME="ImagesDir">/h_list.gif" width="15" height="15" align="absmiddle">&nbsp;Manage User Profile</td>
                    </tr>
                    <TMPL_IF NAME="message">
                    <tr>
                      <td colspan="2" class="correct"><TMPL_VAR NAME="message">&nbsp;</td>
                    </tr>
                    </TMPL_IF>
                    <TMPL_IF NAME="error">
                    <tr>
                      <td colspan="2" class="wrong"><TMPL_VAR NAME="error">&nbsp;</td>
                    </tr>
                    </TMPL_IF>
                    <tr class="tform"><td colspan="2" class="tform" align="center" height="25"><b>General Information</b></td></tr>
                    <tr class="tform">
                      <td class="tform" width="30%">Login&nbsp;<span class="required">*</span></td>
                      <td width="70%"><input type="text" name="Login" value="<TMPL_VAR NAME='Login'>" class="inp" style="width: 250px;"></td>
                    </tr>
                    <tr class="tform">
                      <td class="tform">Password&nbsp;<span class="required"></span></td>
                      <td><input type="password" name="NewPassword" value="" class="inp" style="width: 250px;"></td>
                    </tr>
                    <tr class="tform">
                      <td class="tform">Repeat Password&nbsp;<span class="required"></span></td>
                      <td><input type="password" name="Password1" value="" class="inp" style="width: 250px;"></td>
                    </tr>
                    <tr class="tform"><td colspan="2" class="tform"><small><span class="required">*</span> Leave password fields blank if dont want to change it</small></td></tr>
                    <tr class="tform"><td colspan="2" class="tform">&nbsp;</td></tr>
                    <tr class="tform">
                      <td colspan="2" class="tform" align="center">
                        <input type="hidden" name="save" value="1"/>
                        <input class="btn_big" type="submit" name="submit" value="Save" />
                        <input class="btn_big" type="reset" name="btn_cancel" value="Reset" />
                      </td>
                    </tr>
                    <tr class="tform"><td colspan="2" class="tform">&nbsp;</td></tr>
                  </table>
                </td>
              </tr>
            </table>
            </form>