<h1><TMPL_VAR NAME='pageName'></h1>
           <p align="right" valign="top" class="blockText"><TMPL_INCLUDE FILE='_u_paging.html'>&nbsp;&nbsp;</p>
           
           <TMPL_LOOP NAME='vacancylist'>
           
            <a name="<TMPL_VAR NAME='vacID'>">
            <table width="99%" border="0" cellpadding="2">
              <tr>
                  <td class="contactsBlockTitle"><TMPL_VAR NAME='vacHeader'></td>
              </tr>
              <tr>
                <td class="newsBody" valign="top" style="border-top-style: none; border-top-width: medium; border-bottom-style: none; border-bottom-width: medium">
                  <TMPL_VAR NAME='vacContent' ESCAPE="none">
                </td>
              </tr>
              <tr>
                <td style="border-top-style: none; border-top-width: medium; border-bottom-style: none; border-bottom-width: medium">
                <hr class="grayline">
                  </td>
              </tr>
            </table>

           </TMPL_LOOP>
