body
{
	background-color: #F7F1E1;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	color: #333333;
	
	scrollbar-face-color: #FF7D17;
	scrollbar-highlight-color: #ffffff;
	scrollbar-shadow-color: #E39449;
	scrollbar-3dlight-color: #F4EEDE;
	scrollbar-arrow-color:  #FFFFFF;
	scrollbar-track-color: #FFCC66;
	scrollbar-darkshadow-color: #BF772E;
}
td
{
	font-family: Tahoma, Verdana, Helvetica, sans-serif;
	font-size: 12px;
}

FORM
{
	margin: 0px;
}

IMG
{
	border: 0px;
}

A:link,A:active,A:visited
{
	font-family: Tahoma, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	text-decoration: underline;
	color: #D4711E;
}

A:hover
{
	color: #ff8a24;
}

P
{
	margin-top: 5px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

A.wlink:link,A.wlink:active,A.wlink:visited
{
	font-family: Tahoma, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	color: #ffffff;
}

A.wlink:hover
{
	color: #FFDFB3;
}

A.tmenu:link,A.tmenu:active,A.tmenu:visited
{
	padding-right: 25px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
	color: #ffffff;
}

A.tmenu:hover
{
	color: #FFDFB3;
}

A.lmenu:link,A.lmenu:active,A.lmenu:visited
{	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	color: #D187F5;
}

A.lmenu:hover
{
	color: #E8BAFF;
}

A.lmenu_s:link,A.lmenu_s:active,A.lmenu_s:visited
{	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	color: #D4711E;
}

A.lmenu_s:hover
{
	color: #FFA428;
}

.lmenu_s_header
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	color: #D4711E;
}

.mapal
{
position: absolute;
left: 0px;
top: 0px;
z-index: 1;
}

.more_b
{
position: relative;
left: 0px;
top: 0px;
z-index: 1;
background: url('../images/arrow.gif');
width: 80px;
height: 16px;
padding: 0px 0px 0px 15px;
}

.lang
{
position: absolute;
left: 47px;
top: 280px;
z-index: 4;
}

.mleft
{
position: relative;
left: 0px;
top: 0px;
z-index: 5;
background-color:#FFFFFF;
width: 124px;
height: 100%;
}

.topm
{
position: relative;
left: 0px;
top: 0px;
z-index: 3;
}

.wtext
{
	color: #FFFFFF;
}

H3
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
}

.left_m
{
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 20px;
}

ul
{
	padding: 0px;
 	margin-left: 10px;
	margin-bottom: 3px;
	margin-top: 3px;
}

li {
	margin-left: 10px;
	margin-top: 3px;
	list-style-image: url(../images/bullet.gif);
}

.inpa
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #020000;
	background-color: #ffffff;
	border-top: 1px solid #DFA768;
	border-left: 1px solid #DFA768;
	border-bottom: 1px solid #F37912;
	border-right: 1px solid #F37912;
}

.wrong
{
	color:#CC0000;
}

.dates
{
	font-size: 11px; 
	margin-top: 6px;
	margin-bottom: 6px;
	/*font-style: italic;*/
}
.search
{
	font-weight: bold;
}

.inpa_new
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #020000;
	background-color: #ffffff;
	border-top: 1px solid #DFA768;
	border-left: 1px solid #DFA768;
	border-bottom: 1px solid #F37912;
	border-right: 1px solid #F37912;
}
