html, body {margin: 0px; padding: 0px; background: #ffffff; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #333333;}
a:link		{ color: #336699; font-family:"Verdana"; text-decoration: none }
a:visited	{ color: #336699; font-family:"Verdana"; text-decoration: none }
a:active	{ color: #336699; font-family:"Verdana"; text-decoration: none }
a:hover		{ color: #BB0000; font-family:"Verdana"; text-decoration: underline }

input.btn	{border-width:1; border-color:#000000; font-family:"Verdana"; font-size:10px;color:#E6F4FD; background-color:#7793AD; cursor: hand}
input.txt1	{border-width:1; border-color:#000000; font-family:"Verdana"; font-size:10px;color:#000000; background-color:#FFFFFF}
input.txt	{border-width:1; border-color:#000000; font-family:"Verdana"; font-size:10px;color:#000000; background-color:#FFFFFF}
.comment	{border-width:1; border-color:#000000; font-family:"Verdana"; font-size:10px;color:#000000; background-color:#FFFFFF; width: 100%;}
table.main	{background-color:#FFFFFF;
				border-color:#99CC99;
				border-style:solid;
				margin-left:0px;
				margin-right:0px;
				margin-top:0px;
				margin-bottom:0px}

/* list table */
.list_table {border:1px solid #C7D1DE; padding:3px;}
th {background-color:#E9EDF2; color:#024F96; font-weight:bold; font-size:11px; height:22px;}
.list_table .odd {background-color:#F6F8FA;}
.list_table .even {background-color:#FFFFFF;}

td {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #333333; line-height:120%;}
.sub {border-color:#7793AD;border-style:solid;border-width:1;margin-left:0px;margin-right:0px;margin-top:0px;margin-bottom:0px}
   form.login {margin-left:0px; margin-top:4px; margin-bottom:5px;}
.sub2 {background-color:#E6F4FD;border-color:#7793AD;border-style:solid;border-width:1;margin-left:0px;margin-right:0px;margin-top:0px;margin-bottom:0px}
   form.login {margin-left:0px; margin-top:4px; margin-bottom:5px;}

hr.def {margin-left:90; margin-right:10; color:#333399; border-style:solid}
hr.simple {margin-left:0; margin-right:15; color:#333399; border-style:solid}
ul.def {margin-left:130; mardin-right:15; margin-top:1; margin-bottom:1}
ul.small {margin-left:10; margin-top:1; margin-bottom:1; }

p.hdr     {margin-right:38px; margin-top:1;  margin-bottom:3; margin-left:50px; font-family:"Verdana"; font-size:12px; color:#000000; text-decoration: bold; }
p.hdrnsh  {margin-right:10px; margin-top:1;  margin-bottom:3; margin-left:10px; font-family:"Verdana"; font-size:12px; color:#000000; text-decoration: bold; }
p.mtxtnsh {margin-right:10px; margin-top:4;  margin-bottom:5; margin-left:30px; font-family:"Verdana"; font-size:12px; color:#000000;}
p.ntxt    {margin-right:20px; margin-top:4;  margin-bottom:5; margin-left:10px; font-family:"Verdana"; font-size:10px; color:#000000;}
p.utxt    {margin-right:12px; margin-top:20; margin-bottom:0; margin-left:10px; font-family:"Verdana"; font-size:12px; color:#000000;}

h1 {font-size: 20px; color: #003366; font-weight: normal; margin-bottom:15px;}
h2 {font-size: 16px; color: #003366; font-weight: normal;font-weight:bold; margin-top:1px; margin-bottom:10px;}
h3 {font-size: 12px; color: #003366; font-weight: bold; margin-bottom:10px;}
h4 {color:#666666; font-size:11px; font-weight:bold; margin-bottom:0px;}
h5 {color:#333333; font-size:14px; font-weight:bold; margin-top:10px;}
h6 {font-size:11px; font-weight:bold; color: #0392CF; margin-bottom:0px; margin-top:10px;}
h7 {font-size: 20px; color: #0376A7; font-weight: normal; margin-bottom:15px;}

p {margin:5px 0px 10px 0px;}
ul,ol {margin-right:1px; margin-top:10px;  margin-bottom:3px; margin-left:15px; }
li {margin-right:1px; margin-top:1px;  margin-bottom:3px; margin-left:1px;}

.smallText {    font-family: Arial, Helvetica, sans-serif;  font-size: 10px;}
.title   {margin-right:12px; margin-top:8;  margin-bottom:3; margin-left:14px; font-family:"Verdana"; font-size:22px; color:#000000; text-decoration: bold; font-weight: normal;}

.leftMenuItem {font-family:"Verdana"; font-size:12px; color:#003366;  text-decoration: bold; font-weight: bold;}

.newsDate {padding:15px 0px 10px 20px; font-family:"Verdana"; font-size:12px; color:#000000; text-decoration: bold; font-weight: bold;}
.newsTitle {padding:15px 0px 10px 20px; font-family:"Verdana"; font-size:12px; color:#003366; text-decoration: bold; font-weight: bold;}
.newsBody {padding:15px 0px 10px 20px; font-family:"Verdana"; font-size:12px; color:#000000;}
.metBody {padding:0px 0px 5px 10px; font-family:"Verdana"; font-size:12px; color:#000000;}
.newsArchiveYear {padding:15px 0px 10px 20px; font-family:"Verdana"; font-size:124px; color:#000000; text-decoration: bold; font-weight: bold;}
.newsArchiveItem {padding:15px 0px 10px 20px; font-family:"Verdana"; font-size:12px; color:#000000;}
.newsSmall {text-align:left; font-family:"Verdana"; font-size:10px; color:#000000;}

.actionsDate {padding:15px 0px 10px 20px; text-align:center; font-family:"Verdana"; font-size:12px; color:#000000;}
.actionsTitle {padding:15px 0px 10px 20px; font-family:"Verdana"; font-size:12px; color:#003366;  text-decoration: bold; font-weight: bold;}
.actionsBody {padding:15px 0px 10px 20px; font-family:"Verdana"; font-size:12px; color:#000000;}
.actionsArchiveYear {padding:15px 0px 10px 20px; font-family:"Verdana"; font-size:12px; color:#000000; text-decoration: bold; font-weight: bold;}
.actionsArchiveItem {padding:15px 0px 10px 20px; font-family:"Verdana"; font-size:12px; color:#000000;}
.actionsSmall {text-align:left; font-family:"Verdana"; font-size:9px; color:#000000;}

.actionsAnonceDate {padding:15px 0px 10px 20px; font-family:"Verdana"; font-size:12px; color:#000000;}
.actionsAnonceTitle {padding:15px 0px 10px 20px; font-family:"Verdana"; font-size:12px; color:#003366; text-decoration: bold; font-weight: bold;}
.actionsAnonceBody {padding:15px 0px 10px 20px; font-family:"Verdana"; font-size:12px; color:#000000;}
.actionsAnonceArchiveYear {font-family:"Verdana"; font-size:12px; color:#000000; text-decoration: bold; font-weight: bold;}
.actionsAnonceArchiveItem {font-family:"Verdana"; font-size:12px; color:#000000;}
.actionsAnonceSmall {text-align:left; font-family:"Verdana"; font-size:9px; color:#000000;}
.actionsAnonceTitle a:link {color:#336699; text-decoration: none;}
.actionsAnonceTitle a:active {color:#336699; text-decoration: none;}
.actionsAnonceTitle a:hover {color:#BB0000; text-decoration: underline;}

.pricevendorListTitle  {font-weight: bold;  color: #FF0000;}
.pricevendorName {color: #0000FF;}
.pricevendorDescription {font-size: 9px;}
.pricevendorURL {font-style: italic; font-size: 9px;}
.pricecatListTitle  {font-weight: bold;  color: #FF0000;}
.pricecatName {color: #0000FF;}
.pricelistTitle  {font-family:"Verdana"; font-size:12px; color:#000000; text-decoration: bold; font-weight: bold;}
.pricelistDate  {font-family:"Verdana"; font-size:10px; color:#000000;}
.pricelistTableTitleVendor {font-family:"Verdana"; font-size:12px; color:#000000; text-decoration: bold; font-weight: bold;}
.pricelistTableTitleCategory {font-family:"Verdana"; font-size:12px; color:#000000; text-decoration: bold; font-weight: bold;}
.pricelistTableTitle {background-color:#7793AD;border-color:#000000;border-style:solid;border-width:1;border-left-width: 0;margin-left:0px;margin-right:0px;margin-top:0px;margin-bottom:0px;font-family:"Verdana"; font-size:10px; color:#ffffff; font-weight: bold;}
.pricelistTableTitleLeft {background-color:#7793AD;border-color:#000000;border-style:solid;border-width:1;border-left-width: 1;margin-left:0px;margin-right:0px;margin-top:0px;margin-bottom:0px;font-family:"Verdana"; font-size:10px; color:#ffffff; font-weight: bold;}
.pricelistTableRow {font-family:"Verdana"; font-size:10px; color:#000000;}
.pricelistTableRowBgColor1 {background-color:#FFFFFF}
.pricelistTableRowBgColor2 {background-color:#C8D5E4}
.pricelistPrintTitle {background-color:#FFFFFF;border-color:#000000;border-style:solid;border-width:1;border-left-width: 0;margin-left:0px;margin-right:0px;margin-top:0px;margin-bottom:0px;font-family:"Verdana"; font-size:10px; color:#000000; font-weight: bold;}
.pricelistPrint {font-family:"Verdana"; font-size:10px; color:#000000;border-color: #000000;border-style:solid;border-width: 0px 0px 1px 0;border-bottom-width: 1}

.statvendorListTitle  {font-weight: bold;  color: #FF0000;}
.statvendorName {color: #0000FF;}
.statvendorDescription {font-size: 9px;}
.statpricevendorURL {font-style: italic; font-size: 9px;}
.statcatListTitle  {font-weight: bold;  color: #FF0000;}
.statcatName {color: #0000FF;}
.statisticTitle  {font-family:"Verdana"; font-size:12px; color:#000000; text-decoration: bold; font-weight: bold;}
.statisticDate  {font-family:"Verdana"; font-size:10px; color:#000000;}
.statisticTableTitleVendor {font-family:"Verdana"; font-size:12px; color:#000000; text-decoration: bold; font-weight: bold;}
.statisticTableTitleCategory {font-family:"Verdana"; font-size:12px; color:#000000; text-decoration: bold; font-weight: bold;}
.statisticTableTitle {background-color:#E6F4FD;border-color:#7793AD;border-style:solid;border-width:1;border-left-width: 0;margin-left:0px;margin-right:0px;margin-top:0px;margin-bottom:0px;font-family:"Verdana"; font-size:10px; color:#000000; font-weight: bold;}
.statisticTableRow {font-family:"Verdana"; font-size:10px; color:#000000;}
.statisticTableRowBgColor1 {background-color:#FFFFFF}
.statisticTableRowBgColor2 {background-color:#E6F4FD}

.cartTitle  {font-family:"Verdana"; font-size:12px; color:#000000; text-decoration: bold; font-weight: bold;}
.cartTableTitle {background-color:#7793AD;border-color:#7793AD;border-style:solid;border-width:1;margin-left:0px;margin-right:0px;margin-top:0px;margin-bottom:0px;font-family:"Verdana"; font-size:10px; color:#ffffff; font-weight: bold;}
.cartTableRow {font-family:"Verdana"; font-size:10px; color:#000000;}
.cartTableRowBgColor1 {background-color:#FFFFFF}
.cartTableRowBgColor2 {background-color:#C8D5E4}

.cartOrderTitle  {font-family:"Verdana"; font-size:12px; color:#000000; text-decoration: bold; font-weight: bold;}
.cartOrderTableTitle {font-family:"Verdana"; font-size:10px; color:#000000; font-weight: bold;}
.cartOrderTableRow {font-family:"Verdana"; font-size:10px; color:#000000;}
.cartOrderRulers {background-color:#000000;}

.cartSendOrderTitle  {font-family:"Verdana"; font-size:12px; color:#000000; text-decoration: bold; font-weight: bold;}
.cartSendOrderText {font-family:"Verdana"; font-size:10px; color:#000000;}

.supportBody {font-family:"Verdana"; font-size:12px; color:#000000;}
.supportFormText {font-family:"Verdana"; font-size:12px; color:#000000;}
.supportMessage {font-family:"Verdana"; font-size:12px; color:#800000;}
.supportForm {border-width:1; border-color:#000000; font-family:"Verdana"; font-size:10px;color:#000000; background-color:#FFFFFF}
.supportButton {border-width:1; border-color:#000000; font-family:"Verdana"; font-size:10px;color:#E6F4FD; background-color:#7793AD}

.faqcatListTitle {font-family:"Verdana"; font-size:12px; color:#000000; text-decoration: bold; font-weight: bold;}
.faqcatTitle {color: #0000FF;}
.faqcatDescription {font-size: 9px;}
.faqTitle {font-weight: bold;  color: #FF0000;}
.faqQuestion1 { color: #666666;}
.faqQuestion2 {font-size: 9px;}
.faqAnswer { color: #666666;}
.faqDate {color: #0000FF;}

.companyBlockTitle {padding:15px 0px 10px 20px; font-family:"Verdana"; font-size:12px; color:#003366; text-decoration: bold; font-weight: bold;}
.companyBlockBody {padding:15px 0px 10px 20px; font-family:"Verdana"; font-size:12px; color:#000000;}

.noveltyBlockTitle {text-align:center; font-family:"Verdana"; font-size:12px; color:#003366; text-decoration: bold; font-weight: bold; border-bottom-width: 1px;}
.noveltyBlockBody {font-family:"Verdana"; font-size:12px; color:#000000;}

.photogalleryBlockTitle {text-align:center; font-family:"Verdana"; font-size:12px; color:#003366; text-decoration: bold; font-weight: bold;}
.photogalleryBlockBody {text-align:center; font-family:"Verdana"; font-size:10px; color:#000000;}

.contactsBlockTitle {padding:15px 0px 10px 20px; font-family:"Verdana"; font-size:12px; color:#003366; text-decoration: bold; font-weight: bold;}
.contactsBlockBody {padding:15px 0px 10px 20px; margin-left:5px; margin-right:5px; font-family:"Verdana"; font-size:12px; color:#000000;}

.startpageBlockTitle {padding:15px 0px 10px 20px; text-align:center; font-family:"Verdana"; font-size:12px; color:#003366; text-decoration: bold; font-weight: bold;}
.startpageBlockBody {padding:15px 0px 10px 20px; margin-left:5; margin-right:5; font-family:"Verdana"; font-size:12px; color:#000000;}

.blockTitle {margin-top:0; margin-bottom:0; margin-left:0px; margin-right:0px; font-family: Verdana; font-size:12px; color:#003366;font-weight: bold;}
.blockText {margin-top:0; margin-bottom:0; margin-left:0px; margin-right:0px; font-family: Verdana; font-size:12px; color:#000000;}
.blockText a:visited {color:#336699; text-decoration: none;}
.blockText a:link {color:#336699; text-decoration: none;}
.blockText a:active {color:#336699; text-decoration: none;}
.blockText a:hover {color:#BB0000; text-decoration: underline;}
.blockTitleLeft {margin-top:0; margin-bottom:0; margin-left:0px; margin-right:0px; font-family: Verdana; font-size:12px; color:#FFFFFF;font-weight: bold;}
.blockTitleRight {margin-top:0; margin-bottom:0; margin-left:5px; margin-right:5px; font-family: Verdana; font-size:12px; color:#FFFFFF;font-weight: bold;}
.logoutText {font-family:"Verdana"; font-size:12px; color:#000000;}

.startpageBlockTitle {text-align:center; font-family:"Verdana"; font-size:14px; color:#003366; text-decoration: bold; font-weight: bold;}
.startpageBlockBody {margin-left:5; margin-right:5; font-family:"Verdana"; font-size:12px; color:#000000;}
.freepageBlockTitle {text-align:center; font-family:"Verdana"; font-size:14px; color:#003366; text-decoration: bold; font-weight: bold;}
.freepageBlockBody {margin-left:5; margin-right:5; font-family:"Verdana"; font-size:12px; color:#000000;}
.content {padding:15px 0px 10px 20px; vertical-align:top;}

.loginText {text-align:right; font-family:"Verdana"; font-size:12px; color:#ffffff;}
.loginText a:link {text-align:right; font-family:"Verdana"; font-size:12px; color:#ffffff; text-decoration: none}
.loginText a:hover {text-align:right; font-family:"Verdana"; font-size:12px; color:#ffffff; text-decoration: underline}
.loginText a:visited {text-align:right; font-family:"Verdana"; font-size:12px; color:#ffffff;}
.loginText a:active {text-align:right; font-family:"Verdana"; font-size:12px; color:#ffffff;}
.loginFormText {font-family:"Verdana"; font-size:12px; color:#000000;}
.loginForm {border-width:1; border-color:#000000; font-family:"Verdana"; font-size:10px;color:#000000; background-color:#FFFFFF}
.loginButton {border-width:1; border-color:#000000; font-family:"Verdana"; font-size:10px;color:#ffffff; background-color:#7793AD}
.loginError {font-family:"Verdana"; font-size:12px; color:#800000;}

.registerText {font-family:"Verdana"; font-size:12px; color:#000000;}
.registerFormText {font-family:"Verdana"; font-size:12px; color:#000000;}
.registerForm {border-width:1; border-color:#000000; font-family:"Verdana"; font-size:10px;color:#000000; background-color:#FFFFFF}
.registerButton {border-width:1; border-color:#000000; font-family:"Verdana"; font-size:10px;color:#E6F4FD; background-color:#7793AD}
.registerError {font-family:"Verdana"; font-size:12px; color:#800000;}

.notauthText {font-family:"Verdana"; font-size:12px; color:#000000;}

.profileText {font-family:"Verdana"; font-size:12px; color:#000000;}
.profileFormText {font-family:"Verdana"; font-size:12px; color:#000000;}
.profileForm {border-width:1; border-color:#000000; font-family:"Verdana"; font-size:10px;color:#000000; background-color:#FFFFFF}
.profileButton {border-width:1; border-color:#000000; font-family:"Verdana"; font-size:10px;color:#E6F4FD; background-color:#7793AD}
.profileMessage {font-family:"Verdana"; font-size:12px; color:#800000;}

.sendText {font-family:"Verdana"; font-size:12px; color:#000000;}

/* list table */
.list_table {border:1px solid #C7D1DE; padding:3px;}
th {background-color:#E9EDF2; color:#024F96; font-weight:bold; font-size:11px; height:22px;}
.list_table .odd {background-color:#F6F8FA;}
.list_table .even {background-color:#FFFFFF;}


/* ----- Page definition style ----- */
.pageMainTable {
border-color:#c0c0c0;
border-style:solid;
border-width:0;
border-spacing:0;
border-collapse:collapse;
padding:0px;
width:100%;
height:100%;
}

.pageLeftColumn {
text-align:right;
vertical-align:top;
width:150px;
height:100%;
}

.pageCenterColumn {
border-color:#c0c0c0;
border-style:solid;
border-width:0;
border-left-width:0;
text-align:center;
vertical-align:top;
width:100%;
height:100%;
}

.pageRightColumn {
border-color:#c0c0c0;
border-style:solid;
border-width:0;
border-left-width:1;
text-align:left;
vertical-align:top;
width:152px;
height:100%;
}

.SideBlockLeft {
text-align: left;
vertical-align:top;
width:140px;
height:100%;
}

.SideBlockRight {
border-color:#c0c0c0;
border-style:solid;
border-width:0;
border-left-width:0;
border-right-width:0;
border-top-width: 0;
border-bottom-width:0;
text-align: left;
vertical-align:top;
width:150px;
height:100%;
}

.pageFooter {
text-align:center;
vertical-align:middle;
width:100%;
height:12px;
}

TD.headerpage {
width:100%;
}

.SideColumn {
border-color:#c0c0c0;
border-bottom-width:0;
}

.pageEmptyColumn {
text-align:left;
vertical-align:top;
height:100%;
width:5px;
}

.pageEmptyRow {
vertical-align:top;
height:0px;
}

.TableStartPage {
border-color:#c0c0c0;
border-style:solid;
border-width:0;
width:100%;
}

/* Colors */
.red {
color:red;
}

.blue {
color:#336699;
}

.blue1 {
color:#0000ff;
}

.grayline {
color:#C0C0C0;
height:1px;
}

ul.list {margin:5px 0px; padding:0px; list-style-type:none;}
ul.list li, .type1 li {margin:2px 0px 0px 5px;}
.list a, .list_table a {color:#FFFFFF; text-decoration:none;}
.list a:hover, .list_table a:hover {color:#FFFFFF;}

/* list table */
.list_table {border:1px solid #C7D1DE; padding:3px;}
th {background-color:#E9EDF2; color:#024F96; font-weight:bold; font-size:11px; height:22px;}
.list_table .odd {background-color:#F6F8FA;}
.list_table .even {background-color:#FFFFFF;}

.special {color:#FF6600;}

TD.visitBlockText{
        padding-left: 10px;
        padding-right: 10px;
        text-indent: 1px;
        text-align: left;
	font-family:"Verdana";
	font-size:12px;
} /* Padding in Body Table */