/********** CSS theme file for CalendarXP 4.0 ********/
/* control the layout, font and font-color of the calendar cell */
.CalHead {text-align:center; font: 11px Arial; color: #333333;}
.CalCell {cursor:hand; font: 9pt Arial; text-align:center;}
.CellAnchor {text-decoration:none; font: 9pt Arial;}

/* styles for the "today" part at the bottom */
.Today {text-decoration:none; font: 10pt Arial; color: #333333;}

/* styles for the date selectors (buttons and combos) at the top */
.MonthNav {vertical-align:middle; text-decoration:none; height:22; width:18; font:10pt Fixedsys; color:black;}
.CalTitle {vertical-align:middle; font: 10pt Arial; color:black;}


