.cHeader { 
font-family: Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
text-decoration:none;
color:#3A93DC;
background-color:#ffffff;
}
.cWeek { 
font-family: Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:normal;
text-decoration:none;
color:Black;
background-color:White;
}
.cEmpty, .cDay, .cDayOff, .cLink, .cAgo, .cCheckOut, .cCheckIn, .cForCheckOut1, .cForCheckIn1, .cVacation, .cBooked, .cForCheckIn, .cForCheckOut, .cUnavail, .cEnquiry{ 
font-family: Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
text-decoration:none;
color:#333333;
}
.cEmpty{
background-color:#DFDFDF;
}
.cDay { 
background-color:#00FF90;
}
.cDayOff { 
background-color:#CCCCCC;
}
.cBooked{ 
background-color:#90C8FF;
}
.cUnavail{ 
background-color:#b0e8FF;
}
.cEnquiry{ 
background-color:#eeeeFF;
}
.cBorder {
background-color:#cccccc;
border-width:10px;
}
.calBorder {
border-style: solid;
bordercolor:#aaaaaa;
border-width:1px;
}
.cAgo{
background-color:#CCCCCC;
}
.cVacation{
background-color:Yellow;
}
.cCheckOut{
background-color:#FF8068;
}
.cCheckIn{
background-color:Yellow;
}
.cForCheckIn {
background-color : #FFFFAE;
}

.cForCheckIn1 {
background-color : #FFFFAE;
background-image: url('../images/ry.gif');
}

.cForCheckOut1{
background-color : #ED3D60;
background-image: url('../images/ry.gif');
}

.cForCheckOut{
background-color : #ED3D60;
}

.cTitle { 
font-family: Arial, Helvetica, sans-serif;
font-size:12px;
color:#222222;
}

.cTitle1 { 
font-family: Arial, Helvetica, sans-serif;
font-size:10px;
color:#ffffff;
}